//---------------company logo--------------- 
.company-logo {
    max-width: 350px;
    height: 270px;
    background-color: $color-secondary;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-text {
        color: #fff;
    }

}

//---------------info list--------------- 
.info-list {
    max-width: 300px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    li {
        margin-bottom: 8px;
    }
}

//---------------certification--------------- 
.certification {
    max-width: 450px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    height: 100px;
    margin-bottom: 20px;

    &__box {
        width: 100%;
        height: 100%;
        background-color: $color-secondary;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;


    }
}